<!DOCTYPE html>
<html>
    <head>
        <title>{% block page_title %}{{ page_title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}fonts/3dumb/stylesheet.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}fonts/impact/stylesheet.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}fonts/gooddog/stylesheet.css" rel="stylesheet">
        <style type="text/css" media="screen">
            body {
                background-image: url({{ STATIC_URL }}images/backgrounds/loops1.jpg);
                padding-top: 55px;
            }
            .navbar {
                font-family: 'GoodDogRegular';
                font-size: 40px;
            }
            body .navbar .navbar-inner a {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        </style>
        {% block extra_css %}{% endblock %}
    </head>
    <body>

        {% block navbar %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active"><a href="{% url "home" %}">Home</a></li>
                    <li>
                        <a href="{% url "song_list" %}">song catalog</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock %}


        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
