{% extends "printable_base.html" %}

{% block title %}
    {% if set_list %}
        {{ set_list.name }}
    {% else %}
        The Master Cheat Sheet
    {% endif %}
{% endblock %}
{% block head_style %}
<style>
    table {
        width: {{ column_width }}%;
        float: left;
        padding: 0 10px;
    }
</style>
{% endblock %}

{% block content %}
    <table>
    {% for songs in song_columns %}
        {% for song in songs %}
            <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.cheat_sheet }}</td>
            </tr>
        {% endfor %}
        </table>
        <table>
    {% endfor %}
    </table>
{% endblock %}
