{% extends "base.html" %}

{% block extra_css %}
<style type="text/css" media="screen">
    body {
        background-image: url({{ STATIC_URL }}images/backgrounds/loops1.jpg);
        padding-top: 55px;
    }
    .navbar {
        font-family: 'GoodDogRegular';
        font-size: 40px;
    }
    body .navbar .navbar-inner a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
</style>
{% endblock %}

{% block page_title %}Have a very ukule-ly day{% endblock %}

{% block content %}
<p class="randocolor">
    this is the home page!!
    <br>
    there's not really any site here yet... except for our sweet <a href="{% url "song_list" %}">song catalog</a>!!
</p>
{% endblock %}
