{% extends "base.html" %}

{% block page_title %}
    {% if set_list.gig.name %}
        Set list for {{ set_list.gig.name }}
    {% else %}
        Build you a set list!
    {% endif %}
{% endblock %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}js/stupidtable.min.js"></script>
{% endblock %}

{% block extra_css %}
<style type="text/css" media="screen">
    html {
        overflow: hidden;
    }
    table {
        background-color: white;
    }
    table#song_list {
        margin-bottom: 10px;
    }
    #song_list .set_list_only {
        display: none;
    }
    #song_list th {
        cursor: pointer;
    }
    #set_list .catalog_only {
        display:none;
    }
    #gig_name_error {
        display: none;
    }
    tr.proposed {
        background-color: #D3FFD6;
    }
    .ui-state-disabled {
        display: none;
    }
    .span7, .span5 {
        overflow-y: scroll;
        height:100%;
    }

</style>
{% endblock %}

{% block extra_scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/base/jquery-ui.css" type="text/css" media="all" />

<script type="text/javascript" charset="utf-8">
    $(function() {

        var stretch_lists = function() {
            $('.row').height(
                $(window).height() - ( $('body').height() - $('.row').height() ) - $('.row').offset().top
            );
        };

        var update_empty_message = function() {
            $("table").each(function() {
                var rows = $(this).find("tbody tr");
                if(rows.length == 1) {
                    console.log(this, "0");
                    $(this).find(".ui-state-disabled").show()
                } else {
                    console.log(this, "1");
                    $(this).find(".ui-state-disabled").hide()
                }
            });
        };

        $("#song_list tbody, #set_list tbody" ).sortable({
            cancel: ".ui-state-disabled",
            connectWith: ".table tbody",
            stop: function() {
                save();
                update_empty_message();
            }
        }).disableSelection();
        $("#song_list").stupidtable();

        $("#gig_name").change(function() {
            save();
        });
        $("#save_set_list").submit(function() {
            save();
            return false;
        })

        update_empty_message();
        stretch_lists();
        $(window).resize(function() {
            console.log("aaaa");
            stretch_lists();
        });

    });

    function save() {
        var song_rows  = $("#set_list tr.song");
        var gig_name = $("#gig_name").val();
        function show_error(msg) {
            $("#gig_name_error").text(msg);
            $("#gig_name_error").show();
        }
        if (gig_name == "") {
            show_error("You need to enter a name to save this set list");
        } else {
            $("#gig_name_error").hide();
            var data = {
                gig_name: gig_name,
                songs: []
            };
            $.each(song_rows, function (i, tr) {
                data["songs"].push($(tr).data('id'));
            });
            $.post("{% url "set_list_ajax" set_list_id %}", data, function(resp) {
                    resp = JSON.parse(resp);
                    if (resp['error']) {
                        show_error(resp['error']);
                    } else if (resp['refresh']) {
                        window.location.href = resp['refresh'];
                    } else {
                        // update runtime
                        $.get("{% url "set_list_time" set_list_id %}", function(data) {
                            $("#runtime").text(data);
                        });
                    }
                }
            );
        }
    }

</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span7">
        <h2 class="randocolor">
            Catalog
            {% if set_list_id != "new" and user.is_staff %}
            <form method="post" class="float_right"> {% csrf_token %}
                <input type="submit" class="btn btn-info" name="toggle_proposed"
                       value="{% if set_list.show_proposed %}Hide{% else %}Show{% endif %} Proposed Songs"/>
            </form>
            {% endif %}
        </h2>
        <table id="song_list" class="table table-bordered">
            <thead>
                <tr>
                    <th data-sort="string-ins" data-sort="string-ins">Title</th>
                    <th data-sort="string-ins" class="set_list_only">Cheat Sheet</th>
                    <th data-sort="string-ins" class="catalog_only">Artist</th>
                    <th data-sort="string-ins" class="catalog_only">Key</th>
                    <th data-sort="string-ins" class="catalog_only">Singers</th>
                    <th data-sort="string-ins" class="catalog_only">Runing Time</th>
                </tr>
            </thead>
            <tbody>
                <tr class="ui-state-disabled">
                    <td>(no songs)</td>
                    <td class="set_list_only"></td>
                    <td class="catalog_only"></td>
                    <td class="catalog_only"></td>
                    <td class="catalog_only"></td>
                    <td class="catalog_only"></td>
                </tr>
                {% for song in songs %}
                    <tr data-id="{{ song.id }}" class="song {% if song.proposed %}proposed{% endif %}">
                        <td>{{ song.title }}</td>
                        <td class="set_list_only">
                            <a href="{% url "song" song.id %}">{{ song.cheat_sheet }}</a>
                        </td>
                        <td class="catalog_only">{{ song.artist }}</td>
                        <td class="catalog_only">{{ song.key }}</td>
                        <td class="catalog_only">{{ song.singers }}</td>
                        <td class="catalog_only">{{ song.run_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span5">
        <h2 class="randocolor">
            Set List
            {% if set_list_id != "new" %}
            <a href="{% url "cheat_sheet" set_list_id %}" class="btn btn-info float_right" target="_blank">Print a cheat sheet</a>
            <a href="{% url "print_songs_in" set_list_id %}" class="btn btn-info float_right" target="_blank">Print all songs</a>
            {% endif %}
        </h2>
        <form id="save_set_list" action="" method="post">
            <div class="randocolor">
            {% if gig %}
                <h2>{{ gig.name }}</h2>
            {% else %}
                <label for="gig_name">Gig Name:</label>
                <input type="text" name="gig_name" id="gig_name" value="{{ set_list.gig.name }}"/>
            {% endif %}
            <h4 class="float_right">Run Time: <span id="runtime">{{ set_list.run_time }}</span></h4>
            </div>
            <p id="gig_name_error" class="well"></p>
            <table id="set_list" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th class="set_list_only">Cheat Sheet</th>
                        <th class="catalog_only">Artist</th>
                        <th class="catalog_only">Key</th>
                        <th class="catalog_only">Singers</th>
                        <td class="catalog_only">{{ song.run_time }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ui-state-disabled">
                        <td>(no songs)</td>
                        <td class="set_list_only"></td>
                        <td class="catalog_only"></td>
                        <td class="catalog_only"></td>
                        <td class="catalog_only"></td>
                        <td class="catalog_only"></td>
                    </tr>
                    {% if set_list.id %}
                    {% for song in set_list.ordered_songs %}
                        <tr data-id="{{ song.id }}" class="song {% if song.proposed %}proposed{% endif %}">
                            <td>{{ song.title }}</td>
                            <td class="set_list_only">
                                <a href="{% url "song" song.id %}">
                                    {{ song.cheat_sheet|default:"(I'm no help)" }}
                                </a>
                            </td>
                            <td class="catalog_only">{{ song.artist }}</td>
                            <td class="catalog_only">{{ song.key }}</td>
                            <td class="catalog_only">{{ song.singers }}</td>
                            <td class="catalog_only">{{ song.run_time }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}
