{% extends "base.html" %}




{% block page_title %}Have a very ukule-ly day{% endblock %}




{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.css" type="text/css" media="screen" charset="utf-8">
<style type="text/css" media="screen">
    table#song_list {
        margin-bottom: 10px;
    }
    #song_list .set_list_only {
        display:none;
    }
    #set_list .catalog_only {
        display:none;
    }
    .ui-state-disabled {
        display: none;
    }
</style>
{% endblock %}




{% block extra_scripts %}

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/base/jquery-ui.css" type="text/css" media="all" />

<script type="text/javascript" charset="utf-8">
    $(function() {

        var update_empty_message = function() {
            $("table").each(function() {
                var rows = $(this).find("tbody tr");
                if(rows.length == 1) {
                    console.log(this, "0");
                    $(this).find(".ui-state-disabled").show()
                } else {
                    console.log(this, "1");
                    $(this).find(".ui-state-disabled").hide()
                }
            });
        };

        $("#song_list tbody, #set_list tbody" ).sortable({
            cancel: ".ui-state-disabled",
            connectWith: ".table tbody",
            stop: function() {
                update_empty_message();
            }
        }).disableSelection();

        update_empty_message();


    });
</script>
{% endblock %}




{% block content %}
<h1>Build you a set list!</h1>
<p><a href="{% url song_list %}">the song list is over here</a></p>
<p>Drag items from the table on the left to the set list on the right. You can also drag-and-drop to reorder items in the setlist.</p>

<div class="row">
    <div class="span7">
        <h2>Catalog</h2>
        <table id="song_list" class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="set_list_only">Cheat Sheet</th>
                    <th class="catalog_only">Artist</th>
                    <th class="catalog_only">Key</th>
                    <th class="catalog_only">Singers</th>
                </tr>
            </thead>
            <tbody>
                <tr class="ui-state-disabled">
                    <td>(no songs)</td>
                    <td class="set_list_only"></td>
                    <td class="catalog_only"></td>
                    <td class="catalog_only"></td>
                    <td class="catalog_only"></td>
                </tr>
                {% for song in songs %}
                    <tr>
                        <td>{{ song.title }}</td>
                        <td class="set_list_only">{{ song.cheat_sheet }}</td>
                        <td class="catalog_only">{{ song.artist }}</td>
                        <td class="catalog_only">{{ song.key }}</td>
                        <td class="catalog_only">{{ song.singers }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span5">
        <h2>Set List</h2>
        <table id="set_list" class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="set_list_only">Cheat Sheet</th>
                    <th class="catalog_only">Artist</th>
                    <th class="catalog_only">Key</th>
                    <th class="catalog_only">Singers</th>
                </tr>
            </thead>
            <tbody>
                <tr class="ui-state-disabled">
                    <td>(no songs)</td>
                    <td class="set_list_only"></td>
                    <td class="catalog_only"></td>
                    <td class="catalog_only"></td>
                    <td class="catalog_only"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
