{% extends "base.html" %}




{% block page_title %}Have a very ukule-ly day{% endblock %}




{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}




{% block extra_scripts %}
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>

<script type="text/javascript" charset="utf-8">
    $(function() {
        $('#song_list').dataTable({
            bPaginate:false,
            bInfo:false
        });
    });
</script>
{% endblock %}




{% block content %}

    <h1>EVERY TOUCAN SAM SONG EVER!!!</h1>
    <table id="song_list" class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Key</th>
                <th>Singers</th>
                <th>Video</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr>
                    <td>
                        <a href="{% url song song.id %}">
                            {{ song.title }}
                        </a>
                    </td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.key }}</td>
                    <td>{{ song.singers }}</td>
                    <td>{{ song.video_link }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
