{% extends "base.html" %}

{% block page_title %}{{ song.title }}{% endblock %}

{% block extra_css %}
<style type="text/css" media="screen">
#embedded {
    width: 100%;
    text-align: center;
}

#cheatsheet {
    width: 100%;
    height: 60px;
}
#cheatsheet-inner {
    width: 100%;
}
#cheatsheet h3 {
    margin: 0;
}

h1 form {
    font-size: large;
}

.scrolling {
    position: fixed;
    top: 51px;
}

</style>
{% endblock %}

{% block extra_scripts %}
<script>
$(function(){
    $(window).scroll(function(){
      $('#cheatsheet-inner').toggleClass('scrolling', $(window).scrollTop() + 51 > $('#cheatsheet').offset().top);
        $('#cheatsheet-inner h3').width($('#lyrics').width());
    });
});
</script>
{% endblock %}


{% block extra_nav_list_items %}
    <li class="smaller">
        <a href="{% url "admin:core_song_change" song.id %}">
            {% if user.is_staff %}
                edit this
            {% endif %}
        </a>
    </li>
{% endblock %}

{% block navbar %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1 id="song_title" class="randocolor">
        {{ song.title }}
        {% if song.proposed and user.is_staff %}
        <form method="post" class="float_right"> {% csrf_token %}
            I'm a proposal!
            <input type="submit" name="accept_proposed" value="Accept me!" class="btn btn-info"/>
        </form>
        {% endif %}
    </h1>

    <h4 class="randocolor p1">
        {% if song.artist %}
            by {{ song.artist }}
        {% endif %}
        -
        {% if song.singers %}
            sung by {{ song.singers }}
        {% endif %}
        {% if song.video_link %}
            -
            <a href="{{ song.video_link }}">
                fruitorial
            </a>
        {% endif %}
    </h4>
    {% if song.youtube_video_id %}
    <div id="embedded">
        <iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/{{ song.youtube_video_id }}" allowfullscreen frameborder="0">
        </iframe>
    </div>
    {% else %}
    {% endif %}

    {% if song.cheat_sheet %}
        <div id="cheatsheet">
            <div id="cheatsheet-inner" >
                <h3 class="randocolor p2">cheat sheet: {{ song.cheat_sheet }}</h3>
            </div>
        </div>
    {% endif %}

    <pre id="lyrics">{{ song.lyrics_with_chords }}</pre>
{% endblock %}
