{% extends "base.html" %}




{% block page_title %}Have a very ukule-ly day{% endblock %}




{% block content %}
    <h1>{{ song.title }}</h1>

    <h4>
        {% if song.artist %}
            by {{ song.artist }}
        {% endif %}

        -

        {% if song.singers %}
            sung by {{ song.singers }}
        {% endif %}

        -

        {% if song.video_link %}
            <a href="{{ song.video_link }}">
                video
            </a>
        {% else %}
            no video
        {% endif %}
    </h4>

    {% if song.cheat_sheet %}
        <h5>cheat sheet: {{ song.cheat_sheet }}</h5>
    {% endif %}



    <pre>{{ song.lyrics_with_chords }}</pre>


{% endblock %}
