{% extends "base.html" %}

{% block page_title %}Have a very ukule-ly day{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
{% endblock %}

{% block extra_css %}
<style type="text/css" media="screen">
    table {
        margin-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    tr.odd {
        background-color: rgba(0, 0, 0, 0.2);
    }
    tr.proposed.even {
        background-color: rgba(0,255,0,0.3);
    }
    tr.proposed.odd {
        background-color: rgba(0,160,0,0.3);
    }

    .hidden {
        display: none;
    }

    img.uke {
        height: 30px;
        opacity: .4;
    }
    img.uke.on {
        opacity: 1;
    }

    .difficulty.selected img.uke.on {
        opacity: .4;
    }
    .difficulty.selected img.uke.selected {
        opacity: 1;
    }
</style>
{% endblock %}

{% block extra_scripts %}
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>

<script type="text/javascript" charset="utf-8">
    $(function() {
        $('#song_list').dataTable({
            bPaginate:false,
            bInfo:false
        });
        $('.dataTables_filter').addClass('randocolor');

        {% if user.is_staff %}
        $('.uke').css({'cursor': 'pointer'})
        $('.uke').mouseenter(function(event) {
            var uke_container = $(event.target).parent('.difficulty');
            var all_ukes = uke_container.children('.uke');
            uke_container.addClass('selected');
            all_ukes.removeClass('selected');
            $(event.target).addClass('selected');
            var difficulty = parseInt($(event.target).data('difficulty'));
            var d = 1;
            while (d <= difficulty) {
                all_ukes.filter('.u'+d).addClass('selected');
                d++;
            }
        });
        $('.difficulty').mouseleave(function(event) {
            $(event.target).removeClass('selected');
            $(event.target).children('.uke').removeClass('selected');
        });
        $('.uke').click(function(event) {
            var uke = $(event.target);
            var data = {
                update_difficulty: 'yup',
                difficulty: uke.data('difficulty'),
                csrfmiddlewaretoken: $.cookie('csrftoken')
            }
            $.post(uke.data('song-url'), data, function(data) {
                var uke_container = $(event.target).parent('.difficulty');
                var all_ukes = uke_container.children('.uke');
                var difficulty = parseInt($(event.target).data('difficulty'));
                var d = 1;
                all_ukes.removeClass('on');
                while (d <= difficulty) {
                    all_ukes.filter('.u'+d).addClass('on');
                    d++;
                }
            });
        });
        {% endif %}
    });
</script>
{% endblock %}

{% block content %}

    <h1 class="randocolor">EVERY TOUCAN SAM SONG EVER!!!
        <a href="{% url "master_cheat_sheet" %}" class="btn btn-info float_right" target="_blank">Print the master cheat sheet</a>
        <a href="{% url "print_all_songs" %}" class="btn btn-info float_right" target="_blank">Print all the songs</a>
    </h1>
    <table id="song_list" class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Key</th>
                <th>Singers</th>
                <th>Length</th>
                <th>Difficulty</th>
                <th>Video</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr class="{% if song.proposed %}proposed{% endif %}">
                    <td>
                        <a href="{% url "song" song.id %}">
                            {{ song.title }}
                        </a>
                        {% if song.has_no_lyrics %}
                            (no lyrics)
                        {% endif %}
                    </td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.key }}</td>
                    <td>{{ song.singers }}</td>
                    <td>{{ song.run_time }}</td>
                    <td class="difficulty">
                        <span class="hidden">{{ song.difficulty }}</span>
                        {% for i in '1'|range:'6' %}
                            <img src="{{ STATIC_URL }}images/uke1.png"
                                 {% if i == 1 %}
                                    title="Violent Femmes"
                                 {% elif i == 2 %}
                                    title="Ramones"
                                 {% elif i == 3 %}
                                    title="Misfits"
                                 {% elif i == 4 %}
                                    title="Clash"
                                 {% elif i == 5 %}
                                    title="Bowie"
                                 {% endif %}
                                 data-difficulty="{{ i }}"
                                 data-song-url="{% url 'song' song.id %}"
                                 class="uke u{{ i }} {% if i <= song.difficulty %}on{% endif %}">
                             </img>
                        {% endfor %}
                    </td>
                    <td>
                        {% if song.video_link %}
                            <a href="{{ song.video_link }}">
                                fruitorial
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
