{% extends "shared_base.html" %}
{% load toucan %}

{% block page_title %}Have a very ukule-ly day{% endblock %}

{% block extra_head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endblock %}

{% block base_css %}
    {{ block.super }}
    <style>
        body {
            font-weight: bold;
            font-size: larger;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        #navbar {
            background-color: rgba(0, 0, 0, 0.90);
            width: 100%;
            height: 35px;
            top: 0;
            color: white;
            font-family: 'GoodDogRegular';
            font-size: 40px;
            padding: 10px;
            text-align: center;
        }
        a, a:hover {
            text-decoration: none;
            color: black;
        }
        a:visited {
            color: #6a6a6a;
        }
        #navbar a {
            color: white;
            padding: 0 .5em;
        }
        h1, h2, h3, h4 {
            margin: 0;
        }
        ul, ol {
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            background-color: rgba(255, 255, 255, 0.6);
        }
        li {
            margin: 0;
            padding: 1em;
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block navbar %}
    <div id="navbar">
        <a href="{% url "song_list" %}">Songs</a>
        <a href="{% url "set_list_list" %}">Set Lists</a>
    </div>
{% endblock %}
