{% extends "mobile/base.html" %}

{% block page_title %}Have a very ukule-ly day{% endblock %}

{% block extra_css %}
<style>
    .proposed {
        background-color: rgba(0,255,0, 0.3);
    }
    .dataTables_filter label {
        font-weight: bold;
        font-size: larger;
    }
    tr[href] {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block extra_scripts %}
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>

<script type="text/javascript" charset="utf-8">
    $(function() {
        $('#song_list').dataTable({
            bPaginate:false,
            bInfo:false
        });
        $('.dataTables_filter').addClass('randocolor');
        $('tr[href]').click(function(event) {
            var url = $(event.target).parent('tr[href]').attr('href');
            document.location = url;
        });
    });
</script>
{% endblock %}

{% block content %}

<table id="song_list" class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr class="{% if song.proposed %}proposed{% endif %}" href="{% url "song" song.id %}">
            <td>{{ song.title }}</td>
            <td>{{ song.artist }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}